/*from index.html link to scores.html */
a {
color: blue;
font-size: 20px;
background-color: lightgreen;
padding: 20px;
text-align: center;
padding: 25px;
border-radius: 12px;
position: absolute;
top: 20px;
}
/*background color */
body{
    background-image: url("Assets/images.png");
    -webkit-background-size: cover;
    background-repeat: no-repeat ;
}
/*wrapper of page text */
#wrapper {
    position: absolute;
    padding-top: 5%;
    font-size: larger;
    font-weight: bold;
    text-align: center;
    left: 30%;
    top: 15%;
    width: 40%;
    height: 70%;
    border: 2px solid blue;
    border-radius: 5px;
}
/* Start time from index.html file*/
#startTime{
    background-color: orangered;   
    color: white;
    font-size: 20px;
    padding: 15px;
    border-radius: 15px;
    margin-top: 20px;
}
/*ID for Current timer index HTML */
#currentTime{
    float: right;
}
/*goBack from scores.html file */
#goBack{
    background-color: brown;
    position: relative;
    padding: 10px;
    font-size: 25px;
    color: white;
    border-radius: 10px;
    margin: 20px;
    text-align: center;
}
/*goBack from scores.html file */ 
#clear{
    background-color: brown;
    position: relative;
    padding: 10px;
    font-size: 25px;
    color: white;
    border-radius: 10px;
    margin: 20px;
    text-align: center;
}

