/*from index.html link to scores.html */
a {
color: blue;
font-size: 20px;
background-color: lightgreen;
padding: 20px;
text-align: center;
border-radius: 12px;
position: absolute;
top: 20px;
}
/*background color */
body{
    background-image: url("Assets/images.png");
    -webkit-background-size: cover;
    background-repeat: no-repeat ;
    background-attachment: fixed;
}
/*wrapper of page text */
#wrapper {
    position: absolute;   
    font-size: larger;
    font-weight: bold;
    text-align: center;
    left: 30%;
    top: 15%;
    width: 50%;
    height: 90%;
    border: 2px solid blue;
    border-radius: 5px;
}
/* Start time from index.html file*/
#startTime{
    background-color: orangered;   
    color: white;
    font-size: 20px;
    padding: 15px;
    border-radius: 15px;
    margin-top: 20px;
}
/*ID for Current timer index HTML */
#currentTime{
    float: inline-end ;
    margin-bottom: 50px;
    color: white;
}
/*goBack from scores.html file */
#goBack{
    background-color: brown;
    position: relative;
    padding: 10px;
    font-size: 25px;
    color: white;
    border-radius: 10px;
    margin: 20px;
    text-align: center;
}
/*clear page */ 
#clear{
    background-color: brown;
    position: relative;
    padding: 10px;
    font-size: 25px;
    color: white;
    border-radius: 10px;
    margin: 20px;
    text-align: center;
}
/*User Initials after test */
#initials{
    padding: 6px;
    color:red;
    font-size: 22px;
    border-radius: 15px;
}
/*Submit button styles*/
#submit {
    background-color: blue;
    margin-left: 33%;
    padding: 10px;
    font-size: 20px;
    color: white;
    border-radius: 10px;
    font-size: 25px;
}

label {
    margin-right: 10px;
}
input {
    margin-bottom: 20px;
    width: 50%;
    border: 1px solid lightgray;
}

h1 {
    text-align: center;
}

li {
    background-color:green;
    margin-top: 10px;
    padding: 10px 20px;
    width: 80%;
    font-size: 18px;
    color: white;
    text-align: left;
    border-radius: 15px;
}

#createDiv {
    margin-top: 20px;
    border-top: 1px solid lightgray;
}

/* Start media queries */
/* A Media Query max-width: 786px */
@media screen and (max-width: 786px) {
/* Resized content to fit 786px  */
body {
    max-width: 786px;
}
/* Resized main-content to fit 786px  */
#wrapper {
position: absolute;
left: 20%;
}

a {
margin-left: 20%;
}
#goBack {
    
    position: relative;
    left: 55%;
}

#clear {
    
    position: relative;
    right: 5%;    
}
}

/* A Media Query max-width: 640px */
@media screen and (max-width: 640px) {
/* Resized content to fit 640px  */
body {
    min-width: 640px;
}
/* Resized main-content to fit 640px  */
#wrapper {
margin-top: 5%;
position: absolute;
left: 5%;
width: 90%;
height: 80%;
}
#goBack{   
margin-right:50%;
text-align: center;

}
}